body {
    background-color: #0f0f0f;
    color: #a9a9a9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(../assets/F47FE7B8-EEC0-48B1-AEA1-37AE2CDE65B3.png) center / cover no-repeat;
    opacity: 0.4;
    z-index: -1;
}

a {
    color: #a9a9a9;
}

a:hover {
    color: #dc143c;
}

a:visited {
    color: #8b0000;
}

nav {
    text-align: center;
}

#i {
    font-style: italic;
}

.minister {
    padding: auto;
    margin: auto;
}