body {
    background: 
        linear-gradient(rgba(139, 0, 0, 0.6), rgba(15, 15, 15, 0.8)),
        url(../assets/F47FE7B8-EEC0-48B1-AEA1-37AE2CDE65B3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #a9a9a9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #a9a9a9;
}

a:hover {
    color: #dc143c;
}

a:visited {
    color: #8b0000;
}

nav {
    text-align: center;
}

#i {
    font-style: italic;
}

.minister {
    padding: auto;
    margin: auto;
}